<div id="logo">
  <img src="/images/logo.png" srcset="/images/logo.png 1x, /images/logo@2x.png 2x, /images/logo@3x.png 3x"" alt="<%= title %>">
</div>
<div id="footer">
  <a href="https://fabricatedigital.com" target="_blank">by fabricatedigital.com</a>
  <a href="mailto:<%= email %>" target="_blank" class="align-right"><%= email %></a>
</div>