@import "../../node_modules/normalize.css/normalize";
@import "../shared";

#logo {
  padding: 0 32px;
}

.menu-btn {
  position: absolute;
  top: 32px;
  left: 32px;
  display: block;
  padding: 8px;
  height: 48px;
  width: 48px;
  color: #ffffff;
  text-decoration: none;

  .material-icons {
    font-size: 32px;
  }
}

#open-btn {
  z-index: 10;
}

#footer {
  text-align: center;
}

#menu {
  position: fixed;
  height: 0;
  width: 0;
  background-color: #212121;
  overflow: auto;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.4s linear;

  &.open {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    padding: 100px 20px 16px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 16px;
    }

    a {
      font-size: 24px;

      @media (min-width: 480px) {
        font-size: 32px;
      }
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 6px;
    border-radius: 50%;
    width: 64px;
    margin-left: 4px;

    @media (min-width: 480px) {
      width: 72px;
      margin-left: 0;
    }
  }
}